  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input type="text" class="form-control" placeholder="Buscar usuario...">
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personas</h4>
          <h6 class="card-subtitle">Personas Registradas en el sistema</h6>
          <button routerLink='/dashboard/crearpersonas' type="button" class="btn btn-primary"><i class="fa fa-plus"></i>
            Crear
            persona</button>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Carnet</th>
                  <th>Expedito</th>
                  <th>Nombre completo</th>
                  <th>sexo</th>
                  <th>dirección</th>
                  <th>Email</th>
                  <th>Celular</th>
                  <th>Cel. familiar</th>
                  <th>lugar de Nacimiento</th>
                  <th>Estado civil</th>
                  <th>Estado</th>
                  <th class="text-nowrap">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.personasdata">
                  <td>{{ item.carnet }}</td>
                  <td>{{ item.expedito }}</td>
                  <td>{{ item.nombres }} {{ item.ap_paterno }} {{ item.ap_materno }}</td>
                  <td>{{ item.sexo }}</td>
                  <td>{{ item.direccion }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.celular }}</td>
                  <td>{{ item.celular_familiar }}</td>
                  <td>{{ item.nacimiento }}</td>
                  <td>{{ item.estado_civil }}</td>
                  <td>{{ item.estado }}</td>


                  <td class="text-nowrap">
                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i
                        class="fa fa-close text-danger"></i> </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="mt-3">
            <button class="btn btn-secondary">Anterior</button>
            &nbsp;
            <button class="btn btn-secondary">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
