<!-- <div *ngIf="this.sLectura === 0" class="alert alert-success animated fadeIn fast mt-5">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span>
  </button>
  <h3 class="text-success"><i class="fa fa-check-circle"></i> Exito</h3>
  Se ha completado el resistro de lecturas de consumo con exito!
</div> -->


<div class="row animated fadeIn fast">
  <!-- Buscar -->
  <div class="col-12  col-lg-8">
    <div class="card">
      <div class="card-body">
        <form class="row" [formGroup]="this.formulario">
          <div class="col-8 col-xl-7">
            <div class="row">
              <div class="col-12 form-group">
                <label class="form-control-label" for="textBuscar">Buscar por codigo del Socio</label><br>
                <input id="textBuscar" type="text" class="form-control" placeholder="Buscar socio" #text
                  autocomplete="off" (keyup.enter)="this.buscarFacturas(text.value, '',1)" formControlName="buscar"
                  [value]="this.socioText">
              </div>
            </div>
          </div>
          <div class="col-8 col-xl-5 d-flex justify-content-start align-items-center ">
            <div class="pull-right">
              <button (click)="this.buscarFacturas(text.value, '',1)" type="button" class="btn btn-primary"><i
                  class="mdi mdi-account-search"></i>
                Buscar</button>
              <button (click)="this.limpiar()" type="button" class="ml-2 btn btn-danger"><i class="mdi mdi-delete"></i>
                Limpiar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Loading -->
<div *ngIf="this.cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!this.cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">

      <!-- Primera Parte -->
      <div *ngIf="this.mostrar1, else showTablaOpcion" class="card-body  animated fadeIn fast">

        <!-- Boton de crear Usuarios -->
        <h4 class="card-title">Facturas pendientes de pago</h4>

        <!-- Taabla para limpiar y mostrar buscados -->
        <div class="table-responsive">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Codigo factura</th>
                <th>Socio</th>
                <th>Carnet</th>
                <th>Multa</th>
                <th>Periodo consumo</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.options">
                <td>{{ item.idFactura }}</td>
                <td>{{ item.nombres }} {{ item.paterno }}
                  {{ item.materno }} </td>
                <td>{{ item.carnet }}</td>
                <td>0 Bs.</td>
                <td>{{ item.mes}} {{ item.anio }}</td>
                <td class="text-nowrap text-center">
                  <a class="btn btn-primary" [routerLink]="[ '/dashboard/detalles', item.id ]" ng-route
                    data-toggle="tooltip" title="Cargar datos"> <i class="mdi mdi-eye-outline"></i> </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="mt-3">
          <button *ngIf="this.currentPage!=1; else notShowAnteriorl" class="btn btn-dark"
            (click)="this.cargarFacturas(this.paginaAnterior)">anterior</button>

          <ng-template #notShowAnteriorl>
            <button disabled class="btn btn-dark" (click)="this.cargarFacturas(this.paginaAnterior) ">Anterior</button>
          </ng-template>
          &nbsp;

          <button *ngIf="this.currentPage!=this.cantPaginas; else notShowTablasp" class="btn btn-dark"
            (click)="this.cargarFacturas(this.paginaSiguiente)">Siguiente</button>

          <ng-template #notShowTablasp>
            <button disabled class="btn btn-dark"
              (click)="this.cargarFacturas(this.paginaSiguiente) ">Siguiente</button>
          </ng-template>

          &nbsp;
          &nbsp;

          <!-- <span>{{ this.currentPage }} de {{ this.cantPaginas }} Páginas.</span> -->
        </div>
      </div>

      <!-- Segunda parte -->
      <ng-template #showTablaOpcion>
        <div class="card-body  animated fadeIn fast">
          <h4 class="card-title text-capitalize">Total Facturas con Deudas: <span
              class="text-danger">({{ this.total }})</span></h4>
          <h4 class="card-title">Facturas pendientes de pago</h4>

          <!-- Taabla para limpiar y mostrar buscados -->
          <div class="table-responsive">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Codigo socio</th>
                  <th>Codigo factura</th>
                  <th>Socio</th>
                  <th>Carnet</th>
                  <th>Multa</th>
                  <th>Periodo consumo</th>
                  <th>Saldo total</th>
                  <th class="text-nowrap w100">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.options">
                  <td>{{ item.idSocio }}</td>
                  <td>{{ item.idFactura }}</td>
                  <td>{{ item.nombres }} {{ item.paterno }}
                    {{ item.materno }} </td>
                  <td>{{ item.carnet }}</td>
                  <td>{{ item.retraso }} Bs.</td>
                  <td>{{ item.mes}} {{ item.anio }}</td>
                  <td><strong class="text-dark">{{ item.saldo }} Bs.</strong></td>
                  <td class="text-nowrap text-center">
                    <a [routerLink]="[ '/dashboard/detalles', item.idFactura ]" class="btn btn-warning text-white"
                      title="Ver detalle"> <i class="mdi mdi-eye"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

          <div class="mt-3">
            <button *ngIf="this.currentPage2!=1; else notShowAnteriorTabla" class="btn btn-dark"
              (click)="this.buscarFacturas('',this.paginaAnterior2,0)">anterior</button>

            <ng-template #notShowAnteriorTabla>
              <button disabled class="btn btn-dark"
                (click)="this.buscarFacturas('',this.paginaAnterior2,0) ">Anterior</button>
            </ng-template>
            &nbsp;

            <button *ngIf="this.currentPage2!=this.cantPaginas2; else notShowTablas" class="btn btn-dark"
              (click)="this.buscarFacturas('',this.paginaSiguiente2,0)">Siguiente</button>

            <ng-template #notShowTablas>
              <button disabled class="btn btn-dark"
                (click)="this.buscarFacturas('',this.paginaSiguiente2,0) ">Siguiente</button>
            </ng-template>

            &nbsp;
            &nbsp;

            <span>{{ this.currentPage2 }} de {{ this.cantPaginas2 }} Páginas.</span>
          </div>
        </div>
      </ng-template>


    </div>
  </div>
</div>
