 <!-- Start Page Content -->
 <!-- ============================================================== -->
 <div class="row animated fadeIn fast ">
   <div class="col-12">
     <div class="card">
       <div class="card-body">

         <div class="col-12 col-md-9 border">

           <div class="card card-body">
             <div class="row">
               <div class="col-8">
                 <h3 class="box-title m-b-0">Reporte Cobros por Mes</h3>
                 <p class="text-muted m-b-30 font-13"> Sistema de reportes</p>
               </div>
               <div class="col-4 row justify-content-end">
                 <div class="">
                   <button routerLink='/dashboard/reportes' type="button" class="btn btn-primary"><i
                       class="fa fa-list-alt"></i>
                     Regresar</button>
                 </div>
               </div>
               <div class="col-12">
                 <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)" class="col-12 row">

                   <div class=" col-12 col-xl-6">
                     <h5>Mes de cobro</h5>
                     <mat-form-field class="example-full-width" appearance="outline">
                       <mat-label>-Seleccionar-</mat-label>
                       <mat-select formControlName="mes" name="mes">
                         <mat-option *ngFor="let mes of meses" [value]="mes.value">
                           {{mes.viewValue}}
                         </mat-option>
                       </mat-select>
                       <!-- Validacion -->
                       <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                       <mat-hint *ngIf="this.mes?.invalid && (this.mes?.dirty || this.mes?.touched)">
                         <!-- Errores con expresiones regulares -->
                         <div *ngIf="this.mes?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                           Este campo es requerido.
                         </div>
                       </mat-hint>
                     </mat-form-field>

                   </div>

                   <!-- Año -->
                   <div class="col-12 col-xl-6">
                     <h5>Ingrese el año</h5>
                     <mat-form-field class="example-full-width" appearance="outline">
                       <mat-label>Año</mat-label>
                       <input type="text" matInput formControlName="anio" autocomplete="off" spellcheck="false">
                       <!-- Validacion -->
                       <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                       <mat-hint *ngIf="this.anio?.invalid && (this.anio?.dirty || this.anio?.touched)">
                         <!-- Errores con expresiones regulares -->
                         <div *ngIf="this.anio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                           Este campo es requerido.
                         </div>
                         <div *ngIf="this.anio?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                           Este campo solo admite números
                         </div>

                       </mat-hint>
                     </mat-form-field>
                   </div>

                   <div class="col-12 mt-3">
                     <button [disabled]="this.formulario.invalid" type="submit"
                       class="btn btn-success waves-effect waves-light m-r-10">Generar reporte</button>
                   </div>

                 </form>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>


 <!-- Loading -->
 <div *ngIf="this.cargando" class="row animated fadeIn fast mt-2">
   <div class="col-12">
     <div class="alert alert-info text-center">
       <h4 class="alert-heading">Cargando</h4>
       <i class="fa fa-spin fa-refresh fa-2x"></i>
       <p class="mb-0">Por favor espere</p>
     </div>
   </div>
 </div>

 <div *ngIf="!this.cargando" class="row animated fadeIn fast">
   <div *ngIf="this.mostrar" class="col-md-12">
     <div class="col-12 text-left mb-2">
       <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
         printSectionId="htmlDatas" ngxPrint><span><i class="fa fa-print"></i>
         </span> Imprimir</button>
     </div>
     <div id="htmlDatas" class="card card-body printableArea">
       <!-- <h3><b>INVOICE</b> <span class="pull-right">#5669626</span></h3>
       <hr> -->
       <div class="col-md-12 py-4 text-dark borde-reporte">
         <div class="row justify-content-between">
           <div class="col-12 text-center">
             <img style="width: 60px;" src="./assets/images/logo-aguas-icon.png" alt="homepage" class="light-logo" />
             <img style="width: 300px;" src="./assets/images/logo-aguas2.png" alt="homepage" class="dark-logo" />
             <h2 class="text-dark text-center text-uppercase font-bold">Reporte Cobro por Mes</h2>
           </div>

           <div class="col-12 text-white d-flex justify-content-between">
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Mes y Año de Cobro : <span class="font-light">{{ this.mesCobro.toUpperCase()}} -
                 {{ this.yearCobro }}</span>
             </p>
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Fecha reporte : <span class="font-light"><i class="fa fa-calendar"></i>
                 {{ this.fechaReporte | date:'longDate'  }}</span>
             </p>
           </div>

         </div>
       </div>

       <div class="table-responsive">
         <table class="tabla-lista">
           <thead>
             <tr>
               <th class="">Descripción</th>
               <th class="text-right">Total</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>Sub Total consumo</td>
               <td class="text-right">{{ this.facturaTotalPago}} Bs.</td>
             </tr>
             <tr>
               <td>Total directivos menor o igual a 20 Bs.</td>
               <td *ngIf="this.totalDirectivos===0; else notShow" class="text-right">{{ this.totalDirectivos }} Bs.
               </td>
               <ng-template #notShow>
                 <td class="text-right">- {{ this.totalDirectivos }} Bs.</td>
               </ng-template>
             </tr>
             <tr>
               <td>Total retraso</td>
               <td *ngIf="this.totalRetrazo || this.totalRetrazo===0; else notShowDos" class="text-right">
                 {{ this.totalRetrazo }}
                 Bs.
               </td>
               <ng-template #notShowDos>
                 <td class="text-right">- {{ this.totalRetrazo }} Bs.</td>
               </ng-template>
             </tr>
             <tr *ngFor="let item of this.facturaDetalle">
               <td>{{ item.producto }}</td>
               <td class="text-right">{{ item.sumaProducto_total }} Bs.</td>
             </tr>
             <tr>
               <td>Multa reunión y retraso</td>
               <td *ngIf="this.multaReunion || this.multaReunion === 0; else notShowuno" class="text-right">
                 {{ this.multaReunion }}
                 Bs.
               </td>
               <ng-template #notShowuno>
                 <td class="text-right">- {{ this.multaReunion }} Bs.</td>
               </ng-template>
             </tr>
           </tbody>
         </table>
       </div>

       <div class="col-md-12">
         <div class="pull-right m-t-30 text-right">
           <hr>
           <h3><b>Total :</b> {{ this.totalConvertidoMes }} Bs.</h3>
         </div>
         <div class="clearfix"></div>

       </div>

     </div>
   </div>
 </div>
