    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row animated fadeIn fast ">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="col-md-7 border ">

              <div class="card card-body">
                <div class="row">
                  <div class="col-8">
                    <h3 class="box-title m-b-0">Reportes de socios por barrio</h3>
                    <p class="text-muted m-b-30 font-13"> Sistema de reportes</p>
                  </div>
                  <div class="col">
                    <button routerLink='/dashboard/reportes' type="button" class="btn btn-primary"><i
                        class="fa fa-list-alt"></i>
                      Regresar</button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12">

                    <!-- Registro de ususarios -->
                    <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)">

                      <!-- Form Barrio -->
                      <div class="form-group">
                        <h5 class="m-t-30">Seleccionar Barrio</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>-Seleccionar-</mat-label>
                          <input type="text" placeholder="Buscar" aria-label="Number" matInput [matAutocomplete]="auto"
                            formControlName="barrio" #textBarrios (keyup)="buscarBarrio(textBarrios.value)">
                          <mat-icon matSuffix>expand_more</mat-icon>
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let optionb of this.optionsBarrios" [value]="optionb">
                              {{optionb}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.barrio?.invalid && (this.barrio?.dirty || this.barrio?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.barrio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>
                      <!-- Botones guardar cancelar -->
                      <div class="">
                        <button [disabled]="this.formulario.invalid" type="submit"
                          class="btn btn-success waves-effect waves-light m-r-10">Generar lista</button>
                      </div>

                    </form>

                  </div>
                </div>

              </div>
            </div>

            <div *ngIf="this.mostrarSocios" class="row mt-4">
              <div class="col-12">
                <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
                  printSectionId="htmlDatas" ngxPrint><span><i class="fa fa-print"></i>
                  </span> Imprimir Reporte</button>
              </div>
            </div>

            <div id="htmlDatas" class="mt-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="box-title m-b-0">Lista de socios</h3>
                  <p class="text-muted m-b-30 font-13"> Barrio: {{ this.barrioName }}</p>
                </div>

              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nro.</th>
                    <th>Codigo</th>
                    <th>Socio</th>
                    <th>Carnet</th>
                    <th>Barrio</th>
                    <th>Estado</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.listaSocios; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombres }} {{ item.paterno }} {{ item.materno }}</td>
                    <td>{{ item.carnet }} {{ item.expedito }}</td>
                    <td>{{ item.barrio }}</td>
                    <td *ngIf="item.estado; else notShow">
                      <div class="text-success">Activo</div>
                    </td>
                    <ng-template #notShow>
                      <td>
                        <div class="text-danger">No activo</div>
                      </td>
                    </ng-template>
                    <td> </td>
                    <td> </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
