    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row animated fadeIn fast ">
      <div class="col-12">
        <div class="card">
          <div class="card-body">



            <div class="col-md-7 border ">

              <div class="card card-body">
                <div class="row">
                  <div class="col-8">
                    <h3 class="box-title m-b-0">Registro de Socios</h3>
                    <p class="text-muted m-b-30 font-13"> Sistema de registro de socios </p>
                  </div>
                  <div class="col">
                    <button routerLink='/dashboard/socios' type="button" class="btn btn-primary"><i
                        class="fa fa-list-alt"></i>
                      Listar
                      socios</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12">

                    <!-- Registro de ususarios -->
                    <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)">

                      <!-- Form Persona -->
                      <div class="form-group">
                        <h5 class="m-t-30">Seleccionar persona</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>-Seleccionar-</mat-label>
                          <input type="text" placeholder="Buscar" aria-label="Number" matInput [matAutocomplete]="autos"
                            formControlName="persona" #text (keyup)="buscarPersona(text.value)">
                          <mat-icon matSuffix>expand_more</mat-icon>
                          <mat-autocomplete autoActiveFirstOption #autos="matAutocomplete">
                            <mat-option *ngFor="let option of this.options" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.persona?.invalid && (this.persona?.dirty || this.persona?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.persona?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Barrio -->
                      <div class="form-group">
                        <h5 class="m-t-30">Seleccionar Barrio</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>-Seleccionar-</mat-label>
                          <input type="text" placeholder="Buscar" aria-label="Number" matInput [matAutocomplete]="auto"
                            formControlName="barrio" #textBarrios (keyup)="buscarBarrio(textBarrios.value)">
                          <mat-icon matSuffix>expand_more</mat-icon>
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let optionb of this.optionsBarrios" [value]="optionb">
                              {{optionb}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.barrio?.invalid && (this.barrio?.dirty || this.barrio?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.barrio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>




                      <div class="mt-5">
                        <button [disabled]="this.formulario.invalid" type="submit"
                          class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        <button (click)="this.limpiar()" type="button"
                          class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
