<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <!-- Primera Parte -->
      <div class="card-body  animated fadeIn fast">

        <!-- Boton de crear Usuarios -->
        <div class="row">

          <div class="col-6">
            <h4 class="card-title text-danger">Total socios sin registro: ({{ this.totalSocios }})</h4>
            <h6 class="card-subtitle">Registro de multas</h6>
          </div>
          <div class="col-6 text-right">
            <button routerLink='/dashboard/listaReunion' type="button" class="btn btn-primary"><i
                class="fa fa-arrow-left"></i>
              Lista reuniones</button>
            &nbsp;
            <button [routerLink]="['/dashboard/reportemultas',this.idReunion]" type="button" class="btn btn-info"><i
                class="fa fa-list-ul"></i>
              Reporte multas</button>

          </div>

        </div>

        <!-- Loading -->
        <div *ngIf="this.cargando" class="row animated fadeIn fast">
          <div class="col-12">
            <div class="alert alert-info text-center">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fa fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0">Por favor espere</p>
            </div>
          </div>
        </div>

        <!-- Taabla para limpiar y mostrar buscados -->
        <div *ngIf="!this.cargando" class="table-responsive">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-nowrap w100">Codigo socio</th>
                <th>Socio</th>
                <th>Carnet</th>
                <th>Reunión</th>
                <th>Multa</th>
                <th>Fecha reunión</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>


              <tr *ngFor="let item of this.ListaSocios">
                <td>{{ item.id }} </td>
                <td>{{ item.nombres }} {{ item.paterno }} {{ item.materno }}</td>
                <td>{{ item.carnet }} {{ item.expedito }}</td>
                <td>{{ item.reunion }}</td>
                <td>{{ item.multa }}</td>
                <td>{{ item.fecha | date:'longDate'  }}</td>
                <td>
                  <form [formGroup]="this.formulario" (submit)="this.onSubmit($event,item.detalle_id)">
                    <section class="example-section">
                      <mat-radio-group formControlName="opcion">
                        <mat-radio-button class="example-margin" value="si">Asistio</mat-radio-button>
                        <br>
                        <mat-radio-button class="example-margin" value="no">No asistio</mat-radio-button>
                        <br>
                        <mat-radio-button class="example-margin" value="retraso">Retraso</mat-radio-button>
                      </mat-radio-group>
                    </section>
                    <button [disabled]="this.formulario.invalid" type="submit" class="btn btn-success"><i
                        class="fa fa-plus"></i>
                      guardar</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
