 <!-- Start Page Content -->
 <!-- ============================================================== -->
 <div class="row animated fadeIn fast ">
   <div class="col-12">
     <div class="card">
       <div class="card-body">

         <div class="col-md-7 ">

           <div class="row">
             <div class="col-8">
               <h3 class="box-title m-b-0">Sistema de registro de multas</h3>
               <p class="text-muted m-b-30 font-13"> Sistema de multas</p>
             </div>
             <div class="col">
               <button routerLink='/dashboard/listaReunion' type="button" class="btn btn-primary"><i
                   class="fa fa-list-alt"></i>
                 Regresar</button>
             </div>
           </div>

         </div>
       </div>
     </div>

     <!-- Taabla para limpiar y mostrar buscados -->
     <div class="table-responsive">

       <table class="table table-bordered">
         <thead>
           <tr>
             <th>Codigo</th>
             <th>Reunión</th>
             <th>Multa</th>
             <th>Fecha reunión</th>

             <th class="text-nowrap w100">Acciones</th>
           </tr>
         </thead>
         <tbody>

           <tr>
             <td> </td>
             <td> </td>
             <td> </td>
             <td> </td>
             <td>


               <section class="example-section">
                 <mat-radio-group>
                   <mat-radio-button class="example-margin" value="si">Si</mat-radio-button>
                   <br>
                   <mat-radio-button class="example-margin" value="no">No</mat-radio-button>
                   <br>
                   <mat-radio-button class="example-margin" value="retraso">Retraso</mat-radio-button>
                 </mat-radio-group>
               </section>

               <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>
                 guardar</button>


             </td>
           </tr>

         </tbody>
       </table>

     </div>

   </div>
 </div>
