  <!-- Start Page Content -->
  <!-- ============================================================== -->

  <!-- Loading -->
  <div *ngIf="this.cargando" class="row animated fadeIn fast">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>

  <div *ngIf="!this.cargando" class=" row animated fadeIn fast ">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-7 border ">
            <div class="card card-body">
              <div class="row">
                <div class="col-8">
                  <h3 class="box-title m-b-0 text-danger">Modificar Servicios</h3>
                  <p class="text-muted m-b-30 font-13"> Sistema de registro de servicios </p>
                </div>
                <div class="col">
                  <button routerLink='/dashboard/servicios' type="button" class="btn btn-primary"><i
                      class="fa fa-list-alt"></i>
                    Listar
                    Servicios</button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12">

                  <!-- Registro de ususarios -->
                  <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)">

                    <!-- Form Evento -->
                    <div class="form-group">
                      <h5 class="m-t-30">Servicio</h5>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Evento</mat-label>
                        <input type="text" matInput formControlName="servicio" autocomplete="off" spellcheck="false">
                      </mat-form-field>
                      <!-- Validacion -->
                      <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                      <div *ngIf="this.servicio?.invalid && (this.servicio?.dirty || this.servicio?.touched)">
                        <!-- Errores con expresiones regulares -->
                        <div *ngIf="this.servicio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                          Este campo es requerido.
                        </div>
                      </div>
                    </div>

                    <!-- Form descripcion -->
                    <div class="form-group">
                      <h5 class="m-t-30">Descripción</h5>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input type="texto" matInput formControlName="descripcion" autocomplete="off"
                          spellcheck="false">
                      </mat-form-field>
                      <!-- Validacion -->
                      <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                      <div *ngIf="this.descripcion?.invalid && (this.descripcion?.dirty || this.descripcion?.touched)">
                        <!-- Errores con expresiones regulares -->
                        <div *ngIf="this.descripcion?.hasError('required')" class="animated fadeIn fast text-danger"
                          id="">
                          Este campo es requerido.
                        </div>
                      </div>
                    </div>

                    <!-- Form Precio -->
                    <div class="form-group">
                      <h5 class="m-t-30">Precio</h5>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Precio</mat-label>
                        <input type="text" matInput formControlName="precio" autocomplete="off" spellcheck="false">
                      </mat-form-field>
                      <!-- Validacion -->
                      <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                      <div *ngIf="this.precio?.invalid && (this.precio?.dirty || this.precio?.touched)">
                        <!-- Errores con expresiones regulares -->
                        <div *ngIf="this.precio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                          Este campo es requerido.
                        </div>
                      </div>
                    </div>


                    <!-- Estado -->
                    <div class="form-group">
                      <h5 class="m-t-30">Estado</h5>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Seleccione un estado</mat-label>
                        <mat-select formControlName="estado">
                          <mat-option *ngFor="let item of this.estados" [value]="item.value">{{ item.estado }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <!-- Validacion -->
                      <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                      <div *ngIf="this.estado?.invalid && (this.estado?.dirty || this.estado?.touched)">
                        <!-- Errores con expresiones regulares -->
                        <div *ngIf="this.estado?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                          Este campo es requerido.
                        </div>
                      </div>
                    </div>

                    <div class="mt-5">
                      <button [disabled]="this.formulario.invalid" type="submit"
                        class="btn btn-success waves-effect waves-light m-r-10">Modificar</button>
                      <button routerLink='/dashboard/servicios' type="button"
                        class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
