<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn fast ">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h3 class="box-title m-b-0">Reportes de socios deudores</h3>
            <p class="text-muted m-b-30 font-13"> Sistema de reportes</p>
          </div>
          <div class="col-4 row justify-content-end">
            <div class="">
              <button routerLink='/dashboard/reportes' type="button" class="btn btn-primary"><i
                  class="fa fa-list-alt"></i>
                Regresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Loading -->
<div *ngIf="this.cargando" class="row animated fadeIn fast mt-2">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!this.cargando" class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="text-left mb-2">
      <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
        printSectionId="htmlDatas" ngxPrint><span><i class="fa fa-print"></i>
        </span> Imprimir</button>
    </div>

    <div id="htmlDatas" class="card card-body printableArea border">
      <div class="col-md-12 bg-primary py-4 text-white">
        <h3 class="text-white">Lista de socios deudores</h3>
        <p class="m-t-10 mb-0">
          Fecha reporte : {{ this.fechaReporte | date:'longDate'  }} <i class="fa fa-calendar"></i>
        </p>
      </div>
      <div class="table-responsive m-t-40">
        <table class="table stylish-table">
          <thead>
            <tr>
              <th>#</th>
              <th colspan="1">Codigo socio</th>
              <th>Socio</th>
              <!-- <th>Carnet</th> -->
              <th class="text-right">Cantidad meses con deuda</th>
              <th class="text-nowrap w100">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of this.listaDeudores; index as i">
              <tr *ngIf="item.cantMeses >=3; else notShowTres" class="active bg-light-danger animated fadeIn fast">
                <td>{{ i+1 }}</td>
                <td>{{ item.idSocio }}</td>
                <td>
                  {{ item.nombres }} {{ item.paterno }}
                  {{ item.materno }}
                </td>
                <!-- <td>{{ item.carnet }}</td> -->

                <td class="text-right">{{ item.cantMeses }}</td>
                <td class="text-nowrap text-center">
                  <button (click)="this.openDialog(item.idSocio)" class="btn btn-danger text-white" title="Ver detalle">
                    <i class="mdi mdi-eye"></i></button>
                </td>
              </tr>

              <ng-template #notShowTres>
                <tr class="active" class="animated fadeIn fast">
                  <td>{{ i+1 }}</td>
                  <td>{{ item.idSocio }}</td>
                  <td>
                    {{ item.nombres }} {{ item.paterno }}
                    {{ item.materno }}
                  </td>
                  <!-- <td>{{ item.carnet }}</td> -->

                  <td class="text-right">{{ item.cantMeses }}</td>
                  <td class="text-nowrap text-center">
                    <button (click)="this.openDialog(item.idSocio)" class="btn btn-success text-white"
                      title="Ver detalle">
                      <i class="mdi mdi-eye"></i></button>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </tbody>
        </table>
        <div class="col-md-12">
          <div class="pull-right m-t-30 text-right">
            <hr>
            <h3><b>Total de facturas que no pagaron :</b> {{ this.total }} Facturas</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
</div>
