  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="card card-body">
            <h3 class="box-title m-b-0">Registro de personas</h3>
            <p class="text-muted m-b-30 font-13"> Sistema de registros </p>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Carnet</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Carnet">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Expedito</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Expedito">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombres</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombres">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Apellido paterno</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Paterno">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Apellido materno</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Materno">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sexo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sexo">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Dirección</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Direccion">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Celular</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Celular">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Celular Familiar</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Celular familiar">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Lugar de nacimiento</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Lugar de nacimiento">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Estado civil</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Estado civil">
                  </div>

                  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">GUARDAR</button>
                  <button type="submit" class="btn btn-inverse waves-effect waves-light">CANCELAR</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
