    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row animated fadeIn fast ">
      <div class="col-12">
        <div class="card">
          <div class="card-body">



            <div class="col-md-7 border ">

              <div class="card card-body">
                <div class="row">
                  <div class="col-8">
                    <h3 class="box-title m-b-0 text-danger">Modificar Persona</h3>
                    <p class="text-muted m-b-30 font-13"> Sistema de registro de Personas </p>
                  </div>
                  <div class="col">
                    <button routerLink='/dashboard/personas' type="button" class="btn btn-primary"><i
                        class="fa fa-list-alt"></i>
                      Listar
                      Personas</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12">

                    <!-- Registro de ususarios -->
                    <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)">

                      <!-- Form Persona -->
                      <div class="form-group">
                        <h5 class="m-t-30">Nombres</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Nombres</mat-label>
                          <input type="text" matInput formControlName="nombres" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.nombres?.invalid && (this.nombres?.dirty || this.nombres?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.nombres?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Apellido paterno -->
                      <div class="form-group">
                        <h5 class="m-t-30">Apellido paterno</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Apellido paterno</mat-label>
                          <input type="text" matInput formControlName="paterno" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.paterno?.invalid && (this.paterno?.dirty || this.paterno?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.paterno?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Apellido materno -->
                      <div class="form-group">
                        <h5 class="m-t-30">Apellido materno</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Apellido materno</mat-label>
                          <input type="text" matInput formControlName="materno" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                      </div>

                      <!-- Form Carnet -->
                      <div class="form-group">
                        <h5 class="m-t-30">Carnet</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Carnet</mat-label>
                          <input type="text" matInput formControlName="carnet" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.carnet?.invalid && (this.carnet?.dirty || this.carnet?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.carnet?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Expedito -->
                      <div class="form-group">
                        <h5 class="m-t-30">Expedito</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione ciudad</mat-label>
                          <mat-select formControlName="expedito">
                            <mat-option *ngFor="let item of this.expeditos" [value]="item.value">
                              {{ item.ciudad }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.expedito?.invalid && (this.expedito?.dirty || this.expedito?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.expedito?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Sexo -->
                      <div class="form-group">
                        <h5 class="m-t-30">Sexo</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione sexo</mat-label>
                          <mat-select formControlName="sexo">
                            <mat-option *ngFor="let item of this.generos" [value]="item.value">
                              {{ item.sexo }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.sexo?.invalid && (this.sexo?.dirty || this.sexo?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.sexo?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Direccion -->
                      <div class="form-group">
                        <h5 class="m-t-30">Direccion</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Direccion</mat-label>
                          <input type="text" matInput formControlName="direccion" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.direccion?.invalid && (this.direccion?.dirty || this.direccion?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.direccion?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Email -->
                      <div class="form-group">
                        <h5 class="m-t-30">Email</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input type="text" matInput formControlName="email" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf=" this.email?.invalid && (this.email?.dirty || this.email?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.email?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                          <div *ngIf="this.email?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                            Email no valido.
                          </div>
                        </div>
                      </div>


                      <!-- Form Celular -->
                      <div class="form-group">
                        <h5 class="m-t-30">Celular</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Celular</mat-label>
                          <input type="text" matInput formControlName="celular" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.celular?.invalid && (this.celular?.dirty || this.celular?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.celular?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Celular  familiar-->
                      <div class="form-group">
                        <h5 class="m-t-30">Celular familiar</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Celular familiar</mat-label>
                          <input type="text" matInput formControlName="celularF" autocomplete="off" spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.celularF?.invalid && (this.celularF?.dirty || this.celularF?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.celularF?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Nacimiento -->
                      <div class="form-group">
                        <h5 class="m-t-30">Nacimiento</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Nacimiento</mat-label>
                          <input type="text" matInput formControlName="nacimiento" autocomplete="off"
                            spellcheck="false">
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.nacimiento?.invalid && (this.nacimiento?.dirty || this.nacimiento?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.nacimiento?.hasError('required')" class="animated fadeIn fast text-danger"
                            id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Form Estado civil -->
                      <div class="form-group">
                        <h5 class="m-t-30">Estado civil</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione estado civil</mat-label>
                          <mat-select formControlName="ecivil">
                            <mat-option *ngFor="let item of this.civil" [value]="item.value">
                              {{ item.estados }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.ecivil?.invalid && (this.ecivil?.dirty || this.ecivil?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.ecivil?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <!-- Estado -->
                      <div class="form-group">
                        <h5 class="m-t-30">Estado</h5>
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione un estado</mat-label>
                          <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of this.estados" [value]="item.value">{{ item.estado }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Validacion -->
                        <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                        <div *ngIf="this.estado?.invalid && (this.estado?.dirty || this.estado?.touched)">
                          <!-- Errores con expresiones regulares -->
                          <div *ngIf="this.estado?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                            Este campo es requerido.
                          </div>
                        </div>
                      </div>

                      <div class="mt-5">
                        <button [disabled]="this.formulario.invalid" type="submit"
                          class="btn btn-success waves-effect waves-light m-r-10">Modificar</button>
                        <button routerLink='/dashboard/personas' type="button"
                          class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
