  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input id="textBuscar" type="text" class="form-control" placeholder="Buscar socios..." #text
            (keyup)="buscarSocios(text.value, '',1)" autocomplete="off">
        </div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="this.cargando" class="row animated fadeIn fast">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>

  <div *ngIf="!this.cargando" class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">

        <!-- Primera Parte -->
        <div *ngIf="this.mostrar, else showTablaOpcion" class="card-body  animated fadeIn fast">

          <!-- Boton de crear Usuarios -->
          <div class="row">

            <div class="col-8">
              <h4 class="card-title">Total Socios: ({{ this.totalSocios }})</h4>
              <h6 class="card-subtitle">Socios Registrados en el Sistema</h6>
            </div>
            <div class="col text-right">
              <button routerLink='/dashboard/crearsocios' type="button" class="btn btn-primary"><i
                  class="fa fa-user"></i>
                Crear
                Socios</button>
            </div>

          </div>


          <!-- Taabla para limpiar y mostrar buscados -->
          <div class="table-responsive">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Socio</th>
                  <th>Carnet</th>
                  <th>Barrio</th>
                  <th>estado</th>
                  <th>Fecha de registro</th>
                  <th class="text-nowrap w100">Acciones</th>
                </tr>
              </thead>
              <tbody>


                <tr *ngFor="let item of this.socios">
                  <td>{{ item.id }}</td>
                  <td>{{ item.persona.nombres }} {{ item.persona.ap_paterno }}
                    {{ item.persona.ap_materno }} </td>
                  <td>{{ item.persona.carnet }} {{ item.persona.expedito }}</td>
                  <td>{{ item.barrio.nombre }}</td>
                  <td *ngIf="item.estado; else notShow">
                    <div class="label label-table label-success">Activado</div>
                  </td>
                  <ng-template #notShow>
                    <td>
                      <div class="label label-table label-danger">Desactivado</div>
                    </td>
                  </ng-template>
                  <td>{{ item.created_at | date:'medium' }}</td>



                  <td class="text-nowrap text-center">
                    <a [routerLink]="[ '/dashboard/editarsocios', item.id ]" ng-route data-toggle="tooltip"
                      title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    &nbsp;
                    <a (click)="this.eliminarSocio(item,1)" data-toggle="tooltip" title="Borrar"> <i
                        class="fa fa-close text-danger cursor"></i> </a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="mt-3">
            <button *ngIf="this.currentPage!=1; else notShowAnteriorl" class="btn btn-dark"
              (click)="this.cargarSocio(this.paginaAnterior)">anterior</button>

            <ng-template #notShowAnteriorl>
              <button disabled class="btn btn-dark" (click)="this.cargarSocio(this.paginaAnterior) ">Anterior</button>
            </ng-template>
            &nbsp;

            <button *ngIf="this.currentPage!=this.cantPaginas; else notShowTablasp" class="btn btn-dark"
              (click)="this.cargarSocio(this.paginaSiguiente)">Siguiente</button>

            <ng-template #notShowTablasp>
              <button disabled class="btn btn-dark" (click)="this.cargarSocio(this.paginaSiguiente) ">Siguiente</button>
            </ng-template>

            &nbsp;
            &nbsp;

            <span>{{ this.currentPage }} de {{ this.cantPaginas }} Páginas.</span>
          </div>
        </div>

        <!-- Segunda parte -->
        <ng-template #showTablaOpcion>
          <div class="card-body  animated fadeIn fast">

            <div class="row">
              <div class="col-8">

                <h4 class="card-title text-success">Total de Socios Encontrados: ({{ this.totalSocios2 }})</h4>
                <h6 class="card-subtitle">Socios Registrados en el Sistema</h6>
              </div>
              <div class="col text-right">
                <button routerLink='/dashboard/crearsocios' type="button" class="btn btn-primary"><i
                    class="fa fa-apple"></i>
                  Crear
                  Socios</button>
              </div>
            </div>

            <!-- Taabla para limpiar y mostrar buscados -->
            <div class="table-responsive">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Socio</th>
                    <th>Carnet</th>
                    <th>Barrio</th>
                    <th>estado</th>
                    <th>Fecha de registro</th>
                    <th class="text-nowrap w100">Acciones</th>
                  </tr>
                </thead>
                <tbody>


                  <tr *ngFor="let item of this.socios2">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombres }} {{ item.ap_paterno }}
                      {{ item.ap_materno }} </td>
                    <td>{{ item.carnet }} {{ item.expedito }}</td>
                    <td>{{ item.nombre }}</td>
                    <td *ngIf="item.estado; else notShow">
                      <div class="label label-table label-success">Activado</div>
                    </td>
                    <ng-template #notShow>
                      <td>
                        <div class="label label-table label-danger">Desactivado</div>
                      </td>
                    </ng-template>
                    <td>{{ item.created_at | date:'medium' }}</td>



                    <td class="text-nowrap text-center">
                      <a [routerLink]="[ '/dashboard/editarsocios', item.id ]" href="#" data-toggle="tooltip"
                        title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i>
                      </a>
                      &nbsp;
                      <a (click)="this.eliminarSocio(item,0)" data-toggle="tooltip" title="Borrar"> <i
                          class="fa fa-close text-danger cursor"></i> </a>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>

            <div class="mt-3">
              <button *ngIf="this.currentPage2!=1; else notShowAnteriorTabla" class="btn btn-dark"
                (click)="this.buscarSocios('',this.paginaAnterior2,0)">anterior</button>

              <ng-template #notShowAnteriorTabla>
                <button disabled class="btn btn-dark"
                  (click)="this.buscarSocios('',this.paginaAnterior2,0) ">Anterior</button>
              </ng-template>
              &nbsp;

              <button *ngIf="this.currentPage2!=this.cantPaginas2; else notShowTablas" class="btn btn-dark"
                (click)="this.buscarSocios('',this.paginaSiguiente2,0)">Siguiente</button>

              <ng-template #notShowTablas>
                <button disabled class="btn btn-dark"
                  (click)="this.buscarSocios('',this.paginaSiguiente2,0) ">Siguiente</button>
              </ng-template>

              &nbsp;
              &nbsp;

              <span>{{ this.currentPage2 }} de {{ this.cantPaginas2 }} Páginas.</span>
            </div>
          </div>
        </ng-template>


      </div>
    </div>
  </div>
