<!-- Loading -->
<div *ngIf="this.cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>


<!-- Pruebas html -->
<div *ngIf="!this.cargando" class="row mt-2">

  <div *ngIf="this.mostraDirectivoMenor; else notFactura" id="htmlDatas" class="col-12 bordeFactura">
    <div class="card card-body printableArea mb-0">
      <h4 class="m-b-3"><b>Factura</b> <span class="pull-right">Nro. {{ this.facturaDirectivo.idFactura  }}</span></h4>
      <!-- <hr> -->
      <div class="row">
        <div class="col-12">
          <div class="row ">
            <div class="col-12 col-md-8 text-left">
              <div class="row">


                <div class="col-12">
                  <img class="img-fluid" style="width: 80px;" src="./../../../assets/images/logo-aguas-icon.png"
                    alt="Home" alt="">
                  <img class="img-fluid" style="width: 250px;" src="./../../../assets/images/logo-aguas2.png" alt="">
                  <p class="m-t-30">
                    Fecha emisión de factura : <i class="fa fa-calendar"></i>
                    {{ this.facturaDirectivo.fecha_emision | date:'longDate'  }}
                  </p>
                </div>

                <!-- Datos tecnicos -->
                <div class="col-12">

                  <div class="row">

                    <table class="table-bordered p-1">
                      <thead>
                        <tr class="text-dark">
                          <th class="p-1">Lect. Ant.</th>
                          <th class="p-1">Lect.Act.</th>
                          <th class="p-1">Consumo</th>
                          <th class="p-1">periodo</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">{{ this.facturaDirectivo.lecturaAnterior }} m3</td>
                          <td class="p-1">{{ this.facturaDirectivo.lecturaActual }} m3</td>
                          <td class="p-1">{{ this.facturaDirectivo.consumo }} m3</td>
                          <td class="p-1">{{ this.facturaDirectivo.periodo }}
                            {{ this.facturaDirectivo.anio }}
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 mt-4 col-md-4 mt-md-0 text-left">
              <address>
                <h5 class="w-50"><strong>Codigo socio:</strong> {{ this.socio?.idSocio  }}</h5>
                <h5 class=""><strong>Socio:</strong> {{ this.socio?.nombres }} {{ this.socio?.paterno }}
                  {{ this.socio?.materno }}</h5>
                <p class="w-50">
                  <strong>Carnet:</strong> {{ this.socio?.carnet }}
                  <br><strong>Dirección: </strong>{{ this.socio?.direccion }}
                  <br><strong>Barrio:</strong> {{ this.socio?.barrio }}
                </p>
              </address>
            </div>

          </div>

        </div>
        <div class="col-md-12">
          <div class="table-responsive m-t-5" style="clear: both;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Categoria</th>
                  <th>Descripción</th>
                  <th class="pull-right">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Lectura</strong> </td>
                  <td>Consumo</td>
                  <td class="pull-right">{{ this.facturaDirectivo.precioConsumo }} Bs.</td>
                </tr>
                <tr>
                  <td><strong>Beneficiario</strong> </td>
                  <td>Directivo</td>
                  <td class="pull-right">--</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12">
          <div class="row justify-content-between">

            <div class="col-6 mt-1">
              <p class=" mt-2">SON <strong>{{ this.letras }}</strong></p>
            </div>
            <div class="col-6 mt-1 text-right">
              <h5 class=" mt-2"><b><span class="text-dark">Total </span>: {{ this.facturaDirectivo.total_pagado }}
                  Bs.</b></h5>
            </div>
            <div class="col-12">
              <hr>
              <p class="mb-0"><span class="text-dark">Nota: </span>Evite recargos e intereses, pague puntualmente</p>
            </div>
          </div>
          <!-- <div class="clearfix"></div> -->

        </div>
      </div>
    </div>
  </div>
  <!-- para los directivos superiores a 20bs -->
  <ng-template #notFactura>
    <div id="htmlDatas" class="col-12 bordeFactura">
      <div class="card card-body printableArea mb-0">
        <h4 class="m-b-3"><b>Factura</b> <span class="pull-right">Nro. {{ this.socio?.idFactura  }}</span></h4>
        <!-- <hr> -->
        <div class="row">
          <div class="col-12">
            <div class="row ">
              <div class="col-12 col-md-8 text-left">
                <div class="row">


                  <div class="col-12">
                    <img class="img-fluid" style="width: 80px;" src="./../../../assets/images/logo-aguas-icon.png"
                      alt="Home" alt="">
                    <img class="img-fluid" style="width: 250px;" src="./../../../assets/images/logo-aguas2.png" alt="">
                    <p class="m-t-30">
                      Fecha emisión de factura : <i class="fa fa-calendar"></i>
                      {{ this.fecha | date:'longDate'  }}
                    </p>
                  </div>

                  <!-- Datos tecnicos -->
                  <div class="col-12">

                    <div class="row">

                      <table class="table-bordered p-1">
                        <thead>
                          <tr class="text-dark">
                            <th class="p-1">Lect. Ant.</th>
                            <th class="p-1">Lect.Act.</th>
                            <th class="p-1">Consumo</th>
                            <th class="p-1">periodo</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="p-1">{{ this.socio?.lecturaAnterior }} m3</td>
                            <td class="p-1">{{ this.socio?.lecturaActual }} m3</td>
                            <td class="p-1">{{ this.socio?.consumo }} m3</td>
                            <td class="p-1">{{ this.socio?.periodo }} {{ this.socio?.anio }}</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 mt-4 col-md-4 mt-md-0 text-left">
                <address>
                  <h5 class="w-50"><strong>Codigo socio:</strong> {{ this.socio?.idSocio  }}</h5>
                  <h5 class=""><strong>Socio:</strong> {{ this.socio?.nombres }} {{ this.socio?.paterno }}
                    {{ this.socio?.materno }}</h5>
                  <p class="w-50">
                    <strong>Carnet:</strong> {{ this.socio?.carnet }}
                    <br><strong>Dirección: </strong>{{ this.socio?.direccion }}
                    <br><strong>Barrio:</strong> {{ this.socio?.barrio }}
                  </p>
                </address>
              </div>

            </div>

          </div>
          <div class="col-md-12">
            <div class="table-responsive m-t-5" style="clear: both;">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Categoria</th>
                    <th>Descripción</th>
                    <th class="pull-right">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Lectura</strong> </td>
                    <td>Consumo</td>
                    <td class="pull-right">{{ this.socio?.precioConsumo }} Bs.</td>
                  </tr>
                  <tr *ngIf="this.retraso">
                    <td><strong>Retraso</strong> </td>
                    <td>Multa</td>
                    <td class="pull-right">{{ this.socio?.retraso }} Bs.</td>
                  </tr>
                  <tr *ngFor="let item of this.detalle">
                    <td><strong>{{ item.categoriaProducto }}</strong> </td>
                    <td>{{ item.producto }}</td>
                    <td class="pull-right">{{ item.precioDetalle }} Bs.</td>
                  </tr>
                  <tr *ngIf="this.directivoMenor">
                    <td><strong>Beneficiario</strong> </td>
                    <td>Directivo</td>
                    <td class="pull-right">--</td>
                  </tr>
                  <!-- Para mostrar directivos mayores a 20bs -->
                  <tr *ngIf="this.mostraDirectivoMayor">
                    <td><strong>Beneficiario</strong> </td>
                    <td>Directivo</td>
                    <td class="pull-right"> -20 Bs.</td>
                  </tr>
                  <ng-container *ngFor="let item of this.facturaReunion">
                    <tr *ngIf="item.precio!=0; else factReunion">
                      <td>Reunión</td>
                      <td>{{ item.reunion }}</td>
                      <td class="pull-right"> {{ item.precio }} Bs.</td>
                    </tr>
                    <ng-template #factReunion>
                      <tr></tr>
                    </ng-template>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-between">

              <div class="col-6 mt-1">
                <p class=" mt-2">SON <strong>{{ this.letras }}</strong></p>
              </div>
              <div class="col-6 mt-1 text-right">
                <h5 class=" mt-2"><b><span class="text-dark">Total </span>: {{ this.total }} Bs.</b></h5>
              </div>
              <div class="col-12">
                <hr>
                <p class="mb-0"><span class="text-dark">Nota: </span>Evite recargos e intereses, pague puntualmente</p>
              </div>
            </div>
            <!-- <div class="clearfix"></div> -->

          </div>
        </div>
      </div>
    </div>
  </ng-template>



  <hr>
  <div class="col-12 text-right mt-2">
    <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
      printSectionId="htmlDatas" ngxPrint><span><i class="fa fa-print"></i>
      </span> Imprimir Factura</button>
    &nbsp;
    <button type=" button" class="btn btn-danger" (click)="this.cancelar()"><span class="mdi mdi-arrow-left"></span>
      Cancelar</button>
  </div>

</div>
