<div class="row animated fadeIn fast">

  <!-- Reporte socios por barrio -->
  <div class="col-lg-3">
    <a [routerLink]="[ '/dashboard/reportexbarrio']">
      <div class="boton-reporte card bg-info">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center"><i class="icono-reportes fa fa-home"></i></div>
            <div class="align-self-center">
              <h5 class="text-white m-t-10 m-b-0">Reporte socios por barrio</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- General de todos los socios -->
  <div class="col-lg-3">
    <a [routerLink]="[ '/dashboard/reportegeneral']">
      <div class="boton-reporte-general card bg-success">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center"><i class="icono-reportes fa fa-users"></i></div>
            <div class="align-self-center">
              <h5 class="text-white m-t-10 m-b-0">Reporte general de socios</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Boton reporte  cobro por mes -->
  <div class="col-lg-3">
    <a [routerLink]="[ '/dashboard/cobroxmes']">
      <div class="boton-reporte-mes card bg-primary">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center"><i class="icono-reportes fa fa-money"></i></div>
            <div class="align-self-center">
              <h5 class="text-white m-t-10 m-b-0">Reporte cobro por mes</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Boton reporte  cobro por mes -->
  <div class="col-lg-3">
    <a [routerLink]="[ '/dashboard/cobrosocio']">
      <div class="boton-socio-reporte-mes card bg-danger">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center"><i class="icono-reportes fa fa-list"></i></div>
            <div class="align-self-center">
              <h5 class="text-white m-t-10 m-b-0">Cobro de socios por mes</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>

<!-- Boton reporte  cobro por mes -->
<div class="row animated fadeIn fast">
  <div class="col-lg-3">
    <a [routerLink]="[ '/dashboard/cobronosocio']">
      <div class="boton-no-reporte-mes card bg-warning">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center"><i class="icono-reportes fa fa-list"></i></div>
            <div class="align-self-center">
              <h5 class="text-white m-t-10 m-b-0">Socios que no pagaron por mes</h5>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>
