.boton-reporte:hover {
  background-color: rgb(34, 34, 136) !important;
  cursor: pointer;
}

.boton-reporte-general:hover {
  background-color: rgb(12, 95, 40) !important;
  cursor: pointer;
}

.boton-reporte-mes:hover {
  background-color: rgb(64, 60, 122) !important;
  cursor: pointer;
}

.boton-socio-reporte-mes:hover {
  background-color: rgb(100, 27, 27) !important;
  cursor: pointer;
}

.boton-no-reporte-mes:hover {
  background-color: rgb(156, 121, 22) !important;
  cursor: pointer;
}
