 <!-- Start Page Content -->
 <!-- ============================================================== -->
 <div class="row animated fadeIn fast ">
   <div class="col-12">
     <div class="card">
       <div class="card-body">

         <div class="col-12 col-md-9 border">

           <div class="card card-body">
             <div class="row">
               <div class="col-8">
                 <h3 class="box-title m-b-0">Cobro Por Mes al Detalle</h3>
                 <p class="text-muted m-b-30 font-13"> Sistema de reportes</p>
               </div>
               <div class="col-4 row justify-content-end">
                 <div class="">
                   <button routerLink='/dashboard/reportes' type="button" class="btn btn-primary"><i
                       class="fa fa-list-alt"></i>
                     Regresar</button>
                 </div>
               </div>
               <div class="col-12">
                 <form [formGroup]="this.formulario" (submit)="this.onSubmit($event)" class="col-12 row">

                   <div class=" col-12 col-xl-6">
                     <h5>Mes de cobro</h5>
                     <mat-form-field class="example-full-width" appearance="outline">
                       <mat-label>-Seleccionar-</mat-label>
                       <mat-select formControlName="mes" name="mes">
                         <mat-option *ngFor="let mes of meses" [value]="mes.value">
                           {{mes.viewValue}}
                         </mat-option>
                       </mat-select>
                       <!-- Validacion -->
                       <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                       <mat-hint *ngIf="this.mes?.invalid && (this.mes?.dirty || this.mes?.touched)">
                         <!-- Errores con expresiones regulares -->
                         <div *ngIf="this.mes?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                           Este campo es requerido.
                         </div>
                       </mat-hint>
                     </mat-form-field>

                   </div>

                   <!-- Año -->
                   <div class="col-12 col-xl-6">
                     <h5>Ingrese el año</h5>
                     <mat-form-field class="example-full-width" appearance="outline">
                       <mat-label>Año</mat-label>
                       <input type="text" matInput formControlName="anio" autocomplete="off" spellcheck="false">
                       <!-- Validacion -->
                       <!-- Preguntamos si es invalido y si esta sucio o a sido tocado -->
                       <mat-hint *ngIf="this.anio?.invalid && (this.anio?.dirty || this.anio?.touched)">
                         <!-- Errores con expresiones regulares -->
                         <div *ngIf="this.anio?.hasError('required')" class="animated fadeIn fast text-danger" id="">
                           Este campo es requerido.
                         </div>
                         <div *ngIf="this.anio?.hasError('pattern')" class="animated fadeIn fast text-danger" id="">
                           Este campo solo admite números
                         </div>

                       </mat-hint>
                     </mat-form-field>
                   </div>

                   <div class="col-12 mt-3">
                     <button [disabled]="this.formulario.invalid" type="submit"
                       class="btn btn-success waves-effect waves-light m-r-10">Generar reporte</button>
                   </div>

                 </form>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>


 <!-- Lista de datos para mostrar -->

 <!-- Loading -->
 <div *ngIf="this.cargando" class="row animated fadeIn fast mt-2">
   <div class="col-12">
     <div class="alert alert-info text-center">
       <h4 class="alert-heading">Cargando</h4>
       <i class="fa fa-spin fa-refresh fa-2x"></i>
       <p class="mb-0">Por favor espere</p>
     </div>
   </div>
 </div>

 <div *ngIf="!this.cargando" class="row animated fadeIn fast">
   <div *ngIf="this.mostrar" class="col-md-12">

     <div class="text-left mb-2">
       <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
         printSectionId="htmlDatas" ngxPrint><span><i class="fa fa-print"></i>
         </span> Imprimir</button>
     </div>

     <div id="htmlDatas" class="card card-body printableArea border">

       <div class="col-md-12 py-4 text-dark borde-reporte">
         <div class="row justify-content-between">
           <div class="col-12 text-center">
             <img style="width: 60px;" src="./assets/images/logo-aguas-icon.png" alt="homepage" class="light-logo" />
             <img style="width: 300px;" src="./assets/images/logo-aguas2.png" alt="homepage" class="dark-logo" />
             <h2 class="text-dark text-center text-uppercase font-bold">Reporte de Cobro Por Mes al Detalle</h2>
           </div>

           <div class="col-12 text-white d-flex justify-content-between">
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Mes y Año de Cobro : <span class="font-light">{{ this.mesCobro.toUpperCase()}} -
                 {{ this.yearCobro }}</span>
             </p>
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Fecha reporte : <span class="font-light"><i class="fa fa-calendar"></i>
                 {{ this.fechaReporte | date:'longDate'  }}</span>
             </p>
           </div>

         </div>
       </div>
       <div class="table-responsive ">
         <table class="tabla-lista">
           <thead>
             <tr>
               <!-- <th>#</th> -->
               <th colspan="1">Cod. socio</th>
               <th>Socio</th>
               <th>Lect.Ant.</th>
               <th>Lect.Act.</th>
               <th>Consumo</th>
               <th>Precio</th>
               <th>Servicios</th>
               <th>Múlta</th>
               <th>Reunión</th>

               <th>Beneficiario</th>
               <th>Periodo</th>
               <th>Total pagado</th>

             </tr>
           </thead>
           <tbody>
             <ng-container *ngFor="let item of this.listaSociosPagaron; index as i">

               <!-- Beneficiarion -->
               <tr *ngIf="item.directivo; else notShowTres" class="active bg-light-success animated fadeIn fast">
                 <!-- <td>{{ i+1 }}</td> -->
                 <td>{{ item.idSocio }}</td>
                 <td>
                   {{ item.nombres }} {{ item.paterno }}
                   {{ item.materno }}
                 </td>
                 <td>{{ item.lecturaAnterior }}</td>
                 <td>{{ item.LecturaActual }}</td>
                 <td class="text-right">{{ item.consumo }} m3</td>
                 <td class="text-right">{{ item.precioConsumo }} Bs.</td>

                 <!-- Servicio -->
                 <td *ngIf="item.directivo; else notShowDos" class="text-right">
                   {{ item.total_pagado - item.precioConsumo -item.reunionPrecio + 20 }} Bs.
                 </td>
                 <ng-template #notShowDos>
                   <td class="text-right">
                     {{ item.total_pagado - item.precioConsumo -item.reunionPrecio }} Bs.
                   </td>
                 </ng-template>
                 <!-- Fin servicios -->

                 <td class="text-right">{{ item.retraso }} Bs.</td>
                 <td class="text-right">{{ item.reunionPrecio || 0}} Bs.</td>

                 <td *ngIf="item.directivo; else notShowCuatro" class="text-right">
                   -20 Bs.
                 </td>
                 <ng-template #notShowCuatro>
                   <td class="text-right">0 Bs.</td>
                 </ng-template>

                 <td class="text-center">{{ item.mes }}</td>
                 <td class="text-right">{{ item.total_pagado }} Bs.</td>
               </tr>

               <!-- NO beneficiarios -->
               <ng-template #notShowTres>
                 <tr class="active" class="animated fadeIn fast">
                   <!-- <td>{{ i+1 }}</td> -->
                   <td>{{ item.idSocio }}</td>
                   <td>
                     {{ item.nombres }} {{ item.paterno }}
                     {{ item.materno }}
                   </td>
                   <td>{{ item.lecturaAnterior }}</td>
                   <td>{{ item.LecturaActual }}</td>
                   <td class="text-right">{{ item.consumo }} m3</td>
                   <td class="text-right">{{ item.precioConsumo }} Bs.</td>

                   <!-- Servicio -->
                   <td *ngIf="item.directivo; else notShowDos" class="text-right">
                     {{ item.total_pagado - item.precioConsumo -item.reunionPrecio + 20 }} Bs.
                   </td>
                   <ng-template #notShowDos>
                     <td class="text-right">
                       {{ item.total_pagado - item.precioConsumo -item.reunionPrecio }} Bs.
                     </td>
                   </ng-template>
                   <!-- Fin servicios -->

                   <td class="text-right">{{ item.retraso }} Bs.</td>
                   <td class="text-right">{{ item.reunionPrecio || 0}} Bs.</td>

                   <td *ngIf="item.directivo; else notShowCuatro" class="text-right">
                     -20 Bs.
                   </td>
                   <ng-template #notShowCuatro>
                     <td class="text-right">0 Bs.</td>
                   </ng-template>

                   <td class="text-center">{{ item.mes }}</td>
                   <td class="text-right">{{ item.total_pagado }} Bs.</td>
                 </tr>
               </ng-template>

             </ng-container>

           </tbody>
         </table>
       </div>
       <div class="col-md-12">
         <div class="pull-right m-t-30 text-right">
           <hr>
           <h3><b>Total :</b> {{ this.sumaTotal }} Bs.</h3>
         </div>
         <div class="clearfix"></div>
       </div>
     </div>




     <!-- Lista de socios beneficiarios menores o igual a 20Bs -->
     <div class="text-left mb-2">
       <button (click)="this.crearPDF()" class="btn btn-primary" type="button" [useExistingCss]="true"
         printSectionId="htmlDatass" ngxPrint><span><i class="fa fa-print"></i>
         </span> Imprimir</button>
     </div>

     <div id="htmlDatass" class="card card-body printableArea border">

       <div class="col-md-12 py-4 text-dark borde-reporte">
         <div class="row justify-content-between">
           <div class="col-12 text-center">
             <img style="width: 60px;" src="./assets/images/logo-aguas-icon.png" alt="homepage" class="light-logo" />
             <img style="width: 300px;" src="./assets/images/logo-aguas2.png" alt="homepage" class="dark-logo" />
             <h2 class="text-dark text-center text-uppercase font-bold">Directivos beneficiarios menores o igual a 20
               Bs.</h2>
           </div>

           <div class="col-12 text-white d-flex justify-content-between">
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Mes y Año de Cobro : <span class="font-light">{{ this.mesCobro.toUpperCase()}} -
                 {{ this.yearCobro }}</span>
             </p>
             <p class="m-t-10 mb-0 text-dark text-uppercase font-bold">
               Fecha reporte : <span class="font-light"><i class="fa fa-calendar"></i>
                 {{ this.fechaReporte | date:'longDate'  }}</span>
             </p>
           </div>

         </div>
       </div>

       <div class="table-responsive">
         <table class="tabla-lista">
           <thead>
             <tr>
               <!-- <th>#</th> -->
               <th colspan="1">Cod. socio</th>
               <th>Socio</th>
               <th>Lect.Ant.</th>
               <th>Lect.Act.</th>
               <th>Consumo</th>
               <th>Precio</th>
               <th>Servicios</th>
               <th>Múlta</th>
               <th>Reunión</th>

               <th>Beneficiario</th>
               <th>Periodo</th>
               <th>Total pagado</th>

             </tr>
           </thead>
           <tbody>
             <ng-container *ngFor="let item of this.listaDirectivosBeneficiarios; index as i">
               <tr *ngIf="item.directivo; else notShowBenefi" class="active bg-light-success animated fadeIn fast">

                 <!-- <td>{{ i+1 }}</td> -->
                 <td>{{ item.idSocio }}</td>
                 <td>
                   {{ item.nombres }} {{ item.paterno }}
                   {{ item.materno }}
                 </td>
                 <td>{{ item.lecturaAnterior }}</td>
                 <td>{{ item.LecturaActual }}</td>
                 <td class="text-right">{{ item.consumo }} m3</td>
                 <td class="text-right">{{ item.precioConsumo }} Bs.</td>

                 <!-- Servicio -->
                 <td class="text-right">
                   0 Bs.
                 </td>
                 <!-- Fin servicios -->

                 <td class="text-right">{{ item.retraso }} Bs.</td>
                 <td class="text-right">{{ item.reunionPrecio || 0}} Bs.</td>

                 <td class="text-right">
                   0 Bs.
                 </td>

                 <td class="text-center">{{ item.mes }}</td>
                 <td class="text-right">{{ item.total_pagado }} Bs.</td>

               </tr>

               <ng-template #notShowBenefi>
                 <tr class="active" class="animated fadeIn fast">
                   <!-- <td>{{ i+1 }}</td> -->
                   <td>{{ item.idSocio }}</td>
                   <td>
                     {{ item.nombres }} {{ item.paterno }}
                     {{ item.materno }}
                   </td>
                   <td>{{ item.lecturaAnterior }}</td>
                   <td>{{ item.LecturaActual }}</td>
                   <td class="text-right">{{ item.consumo }} m3</td>
                   <td class="text-right">{{ item.precioConsumo }} Bs.</td>

                   <!-- Servicio -->
                   <td *ngIf="item.directivo; else notShowDos" class="text-right">
                     {{ item.total_pagado - item.precioConsumo -item.reunionPrecio + 20 }} Bs.
                   </td>
                   <ng-template #notShowDos>
                     <td class="text-right">
                       {{ item.total_pagado - item.precioConsumo -item.reunionPrecio }} Bs.
                     </td>
                   </ng-template>
                   <!-- Fin servicios -->

                   <td class="text-right">{{ item.retraso }} Bs.</td>
                   <td class="text-right">{{ item.reunionPrecio || 0}} Bs.</td>

                   <td *ngIf="item.directivo; else notShowCuatro" class="text-right">
                     -20 Bs.
                   </td>
                   <ng-template #notShowCuatro>
                     <td class="text-right">0 Bs.</td>
                   </ng-template>

                   <td class="text-center">{{ item.mes }}</td>
                   <td class="text-right">{{ item.total_pagado }} Bs.</td>
                 </tr>
               </ng-template>
             </ng-container>

           </tbody>
         </table>
       </div>
       <div class="col-md-12">
         <div class="pull-right m-t-30 text-right">
           <hr>
           <h3><b>Total :</b> {{ this.sumaTotalBeneficiario }} Bs.</h3>
         </div>
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
 </div>
