.tabla-lista {
  width: 100%;
  border: 1px solid #000;
}

.tabla-lista thead tr th {

  border: 1px solid #000;
  border-collapse: collapse;
  font-weight: bold;
  padding: 5px;
}

.tabla-lista tbody tr td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.borde-reporte {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-collapse: collapse;
}
