<!-- <div *ngIf="this.sLectura === 0" class="alert alert-success animated fadeIn fast mt-5">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span>
  </button>
  <h3 class="text-success"><i class="fa fa-check-circle"></i> Exito</h3>
  Se ha completado el resistro de lecturas de consumo con exito!
</div> -->


<div class="row animated fadeIn fast">
  <!-- Buscar -->
  <div class="col-12  col-lg-8">
    <div class="card">
      <div class="card-body">
        <form class="row" [formGroup]="this.formulario">
          <div class="col-12 col-xl-7">
            <div class="row">
              <div class="col-12 form-group">
                <label class="form-control-label" for="textBuscar">Buscar por codigo del Socio</label><br>
                <input id="textBuscar" type="text" class="form-control" placeholder="Buscar socio" #text
                  autocomplete="off" (keyup.enter)="this.buscarFacturas(text.value, '',1)" formControlName="buscar"
                  [value]="this.socioText">
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5 d-flex justify-content-start align-items-center ">
            <div class="pull-right">
              <button (click)="this.buscarFacturas(text.value, '',1)" type="button" class="btn btn-primary"><i
                  class="mdi mdi-account-search"></i>
                Buscar</button>
              <button (click)="this.limpiar()" type="button" class="ml-1 btn btn-danger"><i class="mdi mdi-delete"></i>
                Limpiar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Loading -->
<div *ngIf="this.cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!this.cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">


      <div class="card-body  animated fadeIn fast">
        <div class="row justify-content-between">
          <h4 class="card-title text-danger">Lista de facturas pagadas</h4>
          <h4 class="card-title text-capitalize">Total Facturas pagadas: <span
              class="text-danger">({{ this.total }})</span></h4>
        </div>

        <!-- Taabla para limpiar y mostrar buscados -->
        <div class="table-responsive">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Codigo socio</th>
                <th class="w100">Codigo factura</th>
                <th>Socio</th>
                <th>Carnet</th>
                <th class="w100">Multa</th>
                <th>Periodo consumo</th>
                <th>Fecha emisión</th>
                <th class="w100">Total pagado</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of this.options">
                <tr *ngIf="item.directivo; else notDirectivoDos" class="bg-light-success">
                  <td>{{ item.idSocio }}</td>
                  <td>{{ item.idFactura }}</td>
                  <td>{{ item.nombres }} {{ item.paterno }}
                    {{ item.materno }} </td>
                  <td>{{ item.carnet }}</td>
                  <td>{{ item.retraso }} Bs.</td>
                  <td>{{ item.mes}} {{ item.anio }}</td>
                  <td>{{ item.fecha_emision | date:'longDate' }}</td>
                  <td><strong class="text-dark">{{ item.total_pagado }} Bs.</strong></td>
                  <td class="text-nowrap text-center">
                    <a [routerLink]="[ '/dashboard/detallespagadas', item.idFactura ]" class="btn btn-info text-white"
                      title="Ver detalle"> <i class="mdi mdi-eye"></i></a>
                  </td>
                </tr>
                <ng-template #notDirectivoDos>
                  <tr>
                    <td>{{ item.idSocio }}</td>
                    <td>{{ item.idFactura }}</td>
                    <td>{{ item.nombres }} {{ item.paterno }}
                      {{ item.materno }} </td>
                    <td>{{ item.carnet }}</td>
                    <td>{{ item.retraso }} Bs.</td>
                    <td>{{ item.mes}} {{ item.anio }}</td>
                    <td>{{ item.fecha_emision | date:'longDate' }}</td>
                    <td><strong class="text-dark">{{ item.total_pagado }} Bs.</strong></td>
                    <td class="text-nowrap text-center">
                      <a [routerLink]="[ '/dashboard/detallespagadas', item.idFactura ]" class="btn btn-info text-white"
                        title="Ver detalle"> <i class="mdi mdi-eye"></i></a>
                    </td>
                  </tr>
                </ng-template>
              </ng-container>
            </tbody>
          </table>

        </div>

        <div class="mt-3">
          <button *ngIf="this.currentPage2!=1; else notShowAnteriorTabla" class="btn btn-dark"
            (click)="this.buscarFacturas('',this.paginaAnterior2,0)">anterior</button>

          <ng-template #notShowAnteriorTabla>
            <button disabled class="btn btn-dark"
              (click)="this.buscarFacturas('',this.paginaAnterior2,0) ">Anterior</button>
          </ng-template>
          &nbsp;

          <button *ngIf="this.currentPage2!=this.cantPaginas2; else notShowTablas" class="btn btn-dark"
            (click)="this.buscarFacturas('',this.paginaSiguiente2,0)">Siguiente</button>

          <ng-template #notShowTablas>
            <button disabled class="btn btn-dark"
              (click)="this.buscarFacturas('',this.paginaSiguiente2,0) ">Siguiente</button>
          </ng-template>

          &nbsp;
          &nbsp;

          <span>{{ this.currentPage2 }} de {{ this.cantPaginas2 }} Páginas.</span>
        </div>
      </div>

    </div>
  </div>
</div>
